workflows/n8n_webhook_recommendation.json
{
  "name": "Webhook to Recommendation API",
  "nodes": [
    {
      "parameters": {
        "path": "recommend",
        "httpMethod": "POST",
        "responseMode": "responseNode"
      },
      "id": "Webhook_1",
      "name": "Inbound Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [260, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8000/recommend",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"query\": $json.body.query, \"top_k\": 3}"
      },
      "id": "HTTP_2",
      "name": "Call Recommendation API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [520, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{$json}}"
      },
      "id": "Respond_3",
      "name": "Return Result",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [780, 300]
    }
  ],
  "connections": {
    "Inbound Webhook": {
      "main": [
        [
          {
            "node": "Call Recommendation API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call Recommendation API": {
      "main": [
        [
          {
            "node": "Return Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
